.Card {
    padding: 29px 38px;
    border-radius: 20px;
    background: linear-gradient(180deg, #FBAB7E 0%, #F7CE68 100%);
    position: relative;
    width: 50%;
    max-height: 400px;
    min-width: 200px;
    transition-duration: 150ms;
}



.Card:first-child {
    margin-right: 3rem;
}

.Card:last-child {
    margin-left: 3rem;
}



.Card.Secondary {
    background: #000000;
    color: #ffffff;
    width: 50%;
}

.Row {
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
}

.Highlight {
    position: absolute;
    right: 0;
    top: -100px;
    z-index: 10;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.Highlight:hover{
    top: -120px;
}

.Card:hover{
    box-shadow: 9px 4px 44px 7px rgba(0,0,0,0.1);
}

.body {
    z-index: 20;
    height: 100%;
}

.Title {
    margin: 0;
    margin-top: 28px;
    font-size: 30px;
    font-weight: 700;
}

.Content {
    opacity: 62%;
    font-size: 22px;
}

@media (max-width: 1000px) {
    .Highlight { display: none }
    .Content { display: none }

}