.Skill{
    display: flex;
    align-items: center;
    max-width: 250;
    min-width: 100px;
}

.Title{
    font-size: 30px;
    font-weight: 400;
    color: black;
    margin-left: 20px;
    min-width: 150px;

}