.heroContainer{
    position: relative;
    height: 100vh;

}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.top{
    margin: 0px;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 0;
}

.name{
    margin: 0px;
    font-weight: 900;
    font-size: 140px;
    line-height: 0.7;
}

.bottom{
    margin: 0px;
    font-weight: 400;
    font-size: 40px;
}

.socials {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}