.SocialsBar{
    margin: 40px 140px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.Icons {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.75);
    transition: 0.3s;
}

.Icons:hover {
    vertical-align: middle;
    color: rgba(0, 0, 0, 1);
    filter:drop-shadow(0 8px 24px rgba(149, 157, 165, 0.5))
}